<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add New Food Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-color: darkslategray">
<div class="container-fluid text-center m-3">
    <h2>Add New Food Details</h2>
</div>

<div class="row">
    <div align="left" class="m-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdpCsoaTWlaEMsPVefxJcGtmjx5XRVtQQ1qA&usqp=CAU" alr="room" width="400">
    </div>
    <form th:action="@{/food/save}" method="post" th:object="${food}"
          style="max-width: 500px;background-color: lightgray; margin: 0 auto">

<div class="form-group row">
    <label class="col-sm-4 col-form-label" >Food Name </label>

</div>

        <div class="border border-secondary rounded p-3'">






            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="submit" class="btn btn-secondary m-2" onclick="cancelForm()">cancel</button>
            </div>

        </div>
    </form>
    <div align="left" class="m-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKvBUU2uJPBYEfy_YCR_7w8lySF-En_e5rEg&usqp=CAU" alr="room" width="400">
    </div>
</div>
<div class="row">

    <div align="left" class="m-4">
        <img src="https://i.dailymail.co.uk/i/pix/2014/03/21/article-2586273-1C70009F00000578-145_634x401.jpg" alr="room" width="400">
    </div>

    <div align="right" class="m-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeJd6RgwHDbvC-isR-hwLDQ-G99lJPQ4yk6A&usqp=CAU" alr="room" width="800" height="260">
    </div>
    <div align="right" class="m-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIPyM0-F0biocwipc6G9FfKtqw-vUQV5GeaQ&usqp=CAU" alr="room" width="300" height="260">
    </div>
</div>
<div align="left">
    <button type="submit" class="btn btn-secondary m-2" onclick="back()" > < Back  </button>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location="[[@{/food}]]";
    }
</script>
</body>
</html>