<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web First Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-color:darkslategray">

<div class="container-fluid text-center m-3">

<h1 style="color:mediumspringgreen; font-family: 'monospace'; font-weight: bold" >Welcome our Hotel Yala </h1>
    <a class="h2" th:href="@{/users}" style="color: deepskyblue">Manage Customers</a>
    <div class="row m-3">
        <img src="https://c4.wallpaperflare.com/wallpaper/1001/222/390/gorgeous-hotel-room-in-bora-bora-wallpaper-preview.jpg" alt="W3Schools.com">

        <div class="m-3 " lign="right">
            <p style="font-style: italic; font-size: medium ;font-weight: bold">We are warmly welcome our customers to give their preferences well.</p>
            <p style="font-style: italic; font-size: medium ;font-weight: bold">We have types of rooms allocated with different time durations with most testy foods.</p>
            <p style="font-style: italic; font-size: medium ;font-weight: bold">Offering an outdoor swimming pool along with a baby pool,</p>
            <p style="font-style: italic; font-size: medium ;font-weight: bold">Blue Turtle Hotel is located just 2.2 km from the Tissamaharama </p>
            <p style="font-style: italic; font-size: medium ;font-weight: bold">Bus Station and 2.9 from the famous Wirawila Tissa Sanctuary.</p>
            <a class="h2" th:href="@{/rooms}" style="color: aqua">Rooms Details</a>
            <div >
            <a class="h2" th:href="@{/food}" style="color: darkkhaki">Food Details</a>
            </div>
        </div>
    </div>
    <div class="row">

    <div align="left" class="m-4">
        <img src="https://design-milk.com/images/2019/06/Kota-Haawe-4710-2000x1333.jpg" alr="room" width="400">
    </div>

    <div align="right" class="m-4">
        <img src="https://www.srilankaecotourism.lk/accomadation_img/96380.jpg" alr="room" width="800" height="260">
    </div>
    </div>
    <p>
        You're eligible for a Genius discount at LakeSide Cabana Tissamaharama! To save at this property, all you have to do is sign in.

        Situated in Tissamaharama, 3.8 km from Tissa Wewa, LakeSide Cabana Tissamaharama features accommodation with a restaurant, free private parking, a shared lounge and a garden. Boasting room service, this property also provides guests with a water park. The accommodation provides a 24-hour front desk, a shared kitchen and currency exchange for guests.

        At the hotel, the rooms include a desk, bed linen and a patio with a garden view. With a private bathroom fitted with a bidet and bathrobes, rooms at LakeSide Cabana Tissamaharama also feature a lake view. All rooms at the accommodation are fitted with a seating area.

        Guests at LakeSide Cabana Tissamaharama can enjoy a buffet breakfast.

        The hotel offers a children's playground. The area is popular for hiking and cycling, and car hire is available at LakeSide Cabana Tissamaharama.

        Tissamaharama Raja Maha Vihara is 6 km from the accommodation, while Ranminitenna Tele Cinema Village is 12 km from the property. The nearest airport is Mattala Rajapaksa International, 16 km from LakeSide Cabana Tissamaharama, and the property offers a paid airport shuttle service.

        Couples particularly like the location — they rated it 9.0 for a two-person trip.

        We speak your language!

        LakeSide Cabana Tissamaharama has been welcoming Booking.com guests since 8 Mar 2017.
    </p>
    <p style="font-style: italic; font-size: large ;font-weight: bold">Welcome Hotel Yala.</p>

</div>


</body>
</html>