<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-color: cadetblue">
<div class="container-fluid text-center m-2">
    <div>
        <h1>Manage Customers</h1>
    </div>
    <div class="m-3">
        <a class="h3 m-1" style="color: darkslategray; background-color: lightblue" th:href="@{/users/new}"> Add New Customer </a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div class="m-5" style="background-color: aliceblue">
        <table class="table table-bordered">
            <thead  style="background-color: lightseagreen">
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile Number</th>
                <th>Enable</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user: ${listUsers}">
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.mobileNumber}]]</td>
                    <td>[[${user.enabled}]]</td>
                    <td>
                        <a class="h6 mr-3" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                        <a class="h6" th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
                    </td>

                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="m-3 ">

        <div align="center" style="align-content:center">
        <a class="h3" th:href="@{/users/booking}">Customers Booking Details</a>
        </div>


    </div>
</div>
<div align="left">
    <button type="submit" class="btn btn-secondary m-2" onclick="back()" > < Back  </button>
</div>
<script type="text/javascript">
    function back(){
        window.location="[[@{/}]]";
    }
</script>
</body>
</html>